#navbar,
#mobile_menu,
#mobile_nav_list,
.btns_mobile,
button,
a {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

header {
    width: 100%;
    padding: 0;
    margin: 0;
    position: sticky;
    top: 0;
    background-color: var(--color-primary-1);
    z-index: 3;
}

#navbar {
    width: 100%;
    display: flex;
    padding: 0 10%;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-primary-4);
}

#nav_logo {
    padding-top: 10px;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
    justify-content: space-between;
}

.nav-item a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}

#nav-item a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}

.nav-item.active a {
    color: var(--color-neutral-2);
    border-bottom: 3px solid var(--color-primary-2);
}

.btns {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}


@media screen and (max-width: 1170px) {
    #navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px; /* espaçamento lateral reduzido para mobile */
        background-color: var(--color-primary-4);
    }

    #nav_logo {
        width: 60px; /* opcional: redimensionar para mobile */
        height: auto;
    }

    #mobile_btn {
        display: block;
        border: none;
        background: transparent;
        font-size: 1.8rem;
        cursor: pointer;
        color: white;
    }

    /* Esconde menu desktop e botões no mobile */
    #nav_list,
    .btns {
        display: none;
    }

    /* Menu Mobile (só aparece com classe .active) */
    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--color-primary-4);
        padding: 16px;
        border: none;
        margin: 0;
        padding: 0;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0;
        padding: 0;
        list-style: none;
    }

    #mobile_nav_list .nav-item {
        text-align: center;
    }

    .btns_mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}